Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
    variable print it.
    
Q3. Create a Pandas DataFrame that contains the data:
    Then, print the DataFrame.
    
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame?
    Canyou give an example of when you might use one of these functions?
    
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Q7. Create a DataFrame using multiple Series. Explain with an example.

Q1. **Creating and Printing a Pandas Series:**
   ```python
   import pandas as pd

   data = [4, 8, 15, 16, 23, 42]
   series = pd.Series(data)
   print(series)
   ```

Q2. **Creating a Pandas Series from a List:**
   ```python
   import pandas as pd

   my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
   series = pd.Series(my_list)
   print(series)
   ```

Q3. **Creating and Printing a Pandas DataFrame:**
   ```python
   import pandas as pd

   data = {
       'Name': ['Alice', 'Bob', 'Claire'],
       'Age': [25, 30, 27],
       'Gender': ['Female', 'Male', 'Female']
   }

   df = pd.DataFrame(data)
   print(df)
   ```

Q4. **DataFrame vs. Series:**
   - A **DataFrame** is like a table with rows and columns, while a **Series** is like a single column or a one-dimensional array. You can think of a DataFrame as a collection of Series. Here's an example:
     ```python
     import pandas as pd

     data = {
         'Name': ['Alice', 'Bob', 'Claire'],
         'Age': [25, 30, 27],
     }

     df = pd.DataFrame(data)  # This creates a DataFrame.
     series = df['Age']  # This extracts the 'Age' column as a Series.
     ```

Q5. **Common Functions for Data Manipulation in Pandas:**
   - Pandas offers various functions for data manipulation, including filtering, grouping, and aggregation. For example, you might use:
     - `df[df['Age'] > 25]` to filter rows where the 'Age' is greater than 25.
     - `df.groupby('Gender').mean()` to group data by 'Gender' and calculate the mean of each group.

Q6. **Mutability in Pandas:**
   - In Pandas, **Series** is mutable, meaning you can change the values in a Series after it's created. However, **DataFrame** is also mutable; you can modify the content of a DataFrame, add or remove columns, or change values.

Q7. **Creating a DataFrame using Multiple Series:**
   - You can create a DataFrame by combining multiple Series. For example:
     ```python
     import pandas as pd

     names = pd.Series(['Alice', 'Bob', 'Claire'])
     ages = pd.Series([25, 30, 27])
     genders = pd.Series(['Female', 'Male', 'Female'])

     df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})
     print(df)
     ```
     This code combines three Series into a single DataFrame with 'Name', 'Age', and 'Gender' columns.